{% extends 'templates/layoutpage.twig' %}
{% block page_title %}Présentation de la SOSECAR{% endblock %}
{% block main_page_title %}Présentation de la SOSECAR{% endblock %}
{% block content %}

  <!-- Start Why Join Conference Style three Area -->
        <div class="join-conference-style-three-area pt-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="single-conference-content" data-cue="slideInLeft"  data-duration="1500">
                            <div class="section-title left-title">
                                <span class="top-title">La Sosecar</span>
                                <h2>Une mission de santé <br> publique au Sénégal</h2>
						 	    <p>Créée en 1984, la Société Sénégalaise de Cardiologie (SOSECAR) a pour objet de réunir tous les acteurs des méthodes de recherche, d’étude et d’exploration cliniques et paracliniques concourant à la prévention, au diagnostic et à la thérapeutique des affections cardio-vasculaires.</p>	
                                
                            </div>
                            
							<p class="bg-text">Le siège de la SOSECAR est à Dakar, à la Faculté de Médecine, siège de l’une des plus grandes écoles de Cardiologie en Afrique, où sont formés plusieurs dizaines de cardiologues d’Afrique sub-saharienne et du Maghreb.</p>
                        
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="conference-style-three-img">
                            <img src="{{domain_url}}/assets/img/008.jpg" width="535" alt="sosecar" data-cue="slideInRight"  data-duration="1500">
                            <div class="conference-style-3" data-cues="slideInUp"  data-duration="1500">
                                <img src="{{domain_url}}/assets/img/007.jpg" width="270"  alt="sosecar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Why Join Conference Style three Area -->
    <!-- About Section -->




    <!-- Start Why The Conference Area -->
    <div class="why-the-conference-area pt-100">
        <div class="container">
            <div class="row">

                <div class="col-lg-5">
                    <div class="conference-style-four-img">
                        <img src="{{domain_url}}/assets/img/006.jpg" width="335" alt="sosecar" data-cue="slideInRight"  data-duration="1500">
                        <div class="conference-style-4" data-cues="slideInUp"  data-duration="1500">
                            <img src="{{domain_url}}/assets/img/005.jpg" width="470"  alt="sosecar">
                        </div>
                    </div>
                </div>

                <div class="col-lg-7" data-cue="slideInRight">
                    <div class="why-the-conference-content ml-0 about-conference-content">
                        <div class="section-title left-title">
                            <span class="top-title">SOSECAR au service de la cardiologie</span>
                            <p>Le père fondateur est feu le Professeur Papa KOATE qui fut en même temps le premier Président de la Société Panafricaine de Cardiologie (SOPAC / PASCAR). A sa suite, Professeur Sémou Mahecor DIOUF a consolidé les bases de la Cardiologie sénégalaise et de l’école de Cardiologie de Dakar. Ensuite, sous la direction du Professeur Serigne Abdou BA, past President, la SOSECAR est assurément l’un des acteurs majeurs du développement de la cardiologie moderne au Sénégal et en Afrique subsaharienne. </p>	
                            <p> Notre société organise régulièrement des séances de formation des médecins sénégalais pour une mise à jour de leurs connaissances en Cardiologie. De même, la SOSECAR initie des cadres de rencontre et discussion entre cardiologues sénégalais et africains afin d’harmoniser les stratégies de prise en charge des pathologies cardio-vasculaires en Afrique</p>
                            <br>
                            <p>Par ailleurs, de grandes rencontres internationales sont organisées, regroupant des experts des pays d’Afrique et d’ailleurs. C’est le cas du Congrès de la SOSECAR qui se réunit tous les trois ans, véritable rendez-vous de la Cardiologie africaine ouverte aux pays d’Europe et d’ailleurs. Depuis 2019, la SOSECAR a initié « CardioTech Sénégal » qui est une rencontre scientifique internationale annuelle dédiée à l'apport de la technologie à tous les niveaux de la prise en charge des affections cardio-vasculaires, depuis l'aide au diagnostic jusqu'à la prise en charge thérapeutique. Les sous-spécialités de la Cardiologie ne sont pas en reste, à travers notamment le Symposium de Rythmologie de Dakar, le Congrès International d’Echocardiographie de Dakar, les Journées Internationales de Réadaptation Cardiaque de Dakar, les Journées de Cardiologie du Sport. </p>
                            <p>Cette animation de la vie scientifique cardiologique est assurée par les groupes de travail de la SOSECAR, mises en place en 2019, dans les différents domaines de la pathologie cardio-vasculaire. </p>
                            <br>
                            <p>Globalement, la SOSECAR assure une mission de santé publique au Sénégal. Dans ce cadre, le grand public fait l’objet d’une attention toute particulière par des séances de sensibilisation et d’éducation relatives aux mesures de prévention des maladies cardio-vasculaires et leurs facteurs de risque. </p>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Why The Conference Area -->


{% endblock %}
