{% extends 'templates/layoutpage.twig' %}
{% block page_title %}Accéder aux sessions live - SOSECAR{% endblock %}
{% block main_page_title %}Accéder aux sessions live{% endblock %}
{% block page_content %}

<section class="about-us-area pos-rel about-style-1 pt-50 pb-75 pt-md-10 pb-md-40 pt-xs-10 pb-xs-40 pl-lg-90 pr-lg-90">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-12 d-flex justify-content-center">
          <a href="https://medicallearninghub.zoom.us/j/99221912895" target="_blank" data-salle-id="1" class="link-live">Accéder au live de la salle plénière <i class="mdi mdi-open-in-new"></i> </a>
        </div>

        <div class="col-lg-4 col-sm-12 d-flex justify-content-center">
          <a href="https://medicallearninghub.zoom.us/j/96590588508" target="_blank" data-salle-id="2" class="link-live">Accéder au live de la salle 01 <i class="mdi mdi-open-in-new"></i>  </a>
        </div>

        <div class="col-lg-4 col-sm-12 d-flex justify-content-center">
          <a href="https://medicallearninghub.zoom.us/j/92721211229" target="_blank" data-salle-id="5" class="link-live">Accéder au live de la salle 02 <i class="mdi mdi-open-in-new"></i>  </a>
        </div>
      </div>
    </div>
</section>
<!--about-us-area end-->

{% endblock %}
