{% extends 'templates/layoutpage.twig' %}
{% block page_title %}Mot de bienvenue{% endblock %}
{% block main_page_title %}Mot de bienvenue{% endblock %}
{% block content %}

  <!-- Start Why Join Conference Style three Area -->
        <div class="join-conference-style-three-area pt-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="single-conference-content" data-cue="slideInLeft"  data-duration="1500">
                            <div class="section-title left-title">
                                <span class="top-title">La Sosecar</span>
                                <h2>Chers congressistes et chers amis,</h2>
						 	    <p>En ma qualité de Président du Comité Scientifique de la Société Sénégalaise de Cardiologie, je suis honoré de vous accueillir au 6 ième congrès annuel de la SOSECAR couplé à la 5 ième édition Cardiotech qui se déroulera à Dakar du 11 au 13 décembre 2023.</p>	
                                
                            </div>
                            
							<p class="bg-text">Le paysage de la cardiologie est en pleine transformation, accentuée par les avancées en intelligence artificielle, réadaptation cardiaque et cardio-oncologie. C'est dans cette optique que nous avons choisi ces thématiques pour stimuler un dialogue enrichissant et prospectif.</p>
                        
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="conference-style-three-img">
                            <img src="{{domain_url}}/assets/img/007.jpg" width="535" alt="sosecar" data-cue="slideInRight"  data-duration="1500">
                            <div class="conference-style-3" data-cues="slideInUp"  data-duration="1500">
                                <img src="{{domain_url}}/assets/img/003.jpg" width="270"  alt="sosecar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Why Join Conference Style three Area -->
    <!-- About Section -->




    <!-- Start Why The Conference Area -->
    <div class="why-the-conference-area pt-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" data-cue="slideInRight">
                    <div class="why-the-conference-content ml-0 about-conference-content">
                        <div class="section-title left-title">
                            <p>Ce congrès ne se limite pas à ces sujets; il élargira ses horizons en abordant des sous-spécialités cruciales de la cardiologie moderne. Nous envisageons des sessions dédiées à la rythmologie interventionnelle, la cardiologie interventionnelle, la cardiopédiatrie, l’imagerie cardio-vasculaire, entre autres.</p>	
                            <p>Innovation majeure cette année, nous proposons des ateliers pré-congrès ciblant la médecine vasculaire et l&#39;électrocardiogramme pour l&#39;omnipraticien. Ces ateliers visent à combler le fossé entre les spécialistes et les généralistes, contribuant ainsi à une prise en charge cardiaque plus intégrée.</p>
                            <br>
                            <p>Nous nous attendons à une participation internationale robuste, incluant des experts venant d&#39;Afrique, d&#39;Europe, et d&#39;Amérique. Cette diversité géographique enrichira non seulement le discours académique, mais aussi offrira une perspective globale sur les défis et opportunités en cardiologie.</p>
                            <p>Je suis convaincu que votre présence et vos contributions seront inestimables pour le succès de ce congrès. C&#39;est une occasion unique de mettre en réseau des compétences, de partager des données probantes et d&#39;engager des collaborations interdisciplinaires.</p>
                            <br>
                            <p>Je vous prie de recevoir, chers amis, l&#39;expression de mes salutations les plus distinguées et de mon enthousiasme à l&#39;idée de vous accueillir à cette échange scientifique d&#39;exception.</p>
                            <br>
                            <p>À très bientôt à Dakar.</p>
                            <br>
                            <p><strong>Professeur Adama Kane,</strong></p>
                            <p><strong>Président du Comité Scientifique</strong></p>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Why The Conference Area -->


{% endblock %}
