/*--
	-theme-btn
----------------------------------------*/
.theme_btn {
    overflow: hidden;
    color: $white;
    background: $theme-color;
    font-size: 15px;
    font-family: $circular;
    font-weight: 500;
    line-height: 1;
    padding: 22px 43px 22px 43px;
    display: inline-block;
    border-radius: 0;
    position: relative;
    z-index: 1;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;

    & i {
        font-size: 15px;
        line-height: 1;
        margin-left: 5px;
        @include transition(.4s);
    }

    &:hover {
        color: $white;
        background: #c70808;

        & i {
            transform: translateX(10px);
        }
    }
}

//theme_btn2
.theme_btn2 {
    font-size: 18px;
    font-family: $circular;
    font-weight: 400;
    text-transform: initial;
    border-radius: 5px;
    background: $theme-color2;
    padding: 16px 34px !important;
    &:hover {
        background: #3744b6;
    }
}


//theme_btn3
.theme_btn3 {
    font-size: 18px;
    font-family: $circular;
    font-weight: 400;
    text-transform: initial;
    border-radius: 5px;
    padding: 18px 38px !important;
}

.app-btn {
    display: inline-block;
    background: $black;
    padding: 5px 23px 13px 23px;
    border-radius: 5px;
    color: $white;
    margin-right: 30px;
    @media #{$md} {
        margin-right: 6px;
        padding: 5px 10px 13px 10px;
    }
    @media #{$xs} {
        margin-right: 0;
    }
    & .logo-icon {
        float: left;
        margin-right: 17px;
        margin-top: 13px;
    }
   & .btn-text {
       overflow: hidden;
        & span {
            color: rgba(255, 255, 255, 0.6);
            font-size: 10px;
            line-height: 1;
            display: inline-block;
        }
        & h5 {
            color: $white;
            font-size: 20px;
            margin-bottom: 0;
            line-height: 1;
             @media #{$md} {
                font-size: 18px;
             }
        }
    } 
}


//border-btn
.border-btn {
    background: transparent;
    border: 2px solid $black;
    color: $black;
    border-radius: 5px;
    padding: 12px ​38px !important;
    @include transition(.3s);
    &:hover, &.active {
        color: $white;
        background: $theme-color;
        border-color: $theme-color;
    }
    &.active {
        &:hover {
            background: transparent;
            border: 2px solid $black;
            color: $black;
        }
    }
}


.btn-list {
   & li {
        & a {
            @media #{$xs} {
                margin-right: 0;
            }
            @media #{$sm} {
                margin-right: 20px;
            }
        }
    }
}