//slider-custom-container
.customn-container-slider {
    max-width: 1370px;
    margin: 0 auto;
}


//custom-container-feedback
.custom-container-feedback {
     max-width: 1600px;
     margin: 0 auto;
}
//custom-container-sub
.custom-container-subs {
     max-width: 1230px;
     margin: 0 auto;
}
//custom-container-sub
.custom-container-team {
     max-width: 1570px;
     margin: 0 auto;
}
