{% extends 'templates/layout.twig' %}
{% block page_title %}Ajouter une inscription{% endblock %}
{% block active_hostess %}active{% endblock %}
{% block hostess_new %}active{% endblock %}
{% block collapse_in_hostess %}in{% endblock %}
{% block page_title_breadcrumb %}Ajouter une hôtesse{% endblock %}
{% block content %}

    <section class="forms-validation">
      <div class="page-header">
        <h1>      <i class="md md-group"></i>      Nouvelle hôtesse    </h1>
        <p class="lead d-none">The <a href="http://1000hz.github.io/bootstrap-validator/" target="_blank">Validator plugin</a> offers automatic form validation configurable via mostly HTML5 standard attributes. It also provides an unobtrusive user experience, because nobody likes a naggy form.</p>
      </div>
      <div class="row  m-b-40">
        <div class="col-md-3 col-md-push-9 ">
          <h5 class="d-none">Aide</h5>
          <p class="d-none"> Push the submit button to check all the validations at once. Resetting will handle resetting the validation messages. </p>
        </div>
        <div class="col-md-8 col-md-pull-3">

          <div class="bs-component" >
            <div class="alert alert-dismissible alert-success d-none" id="alert-form">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <h4>Success!</h4> <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
            </div>
          </div>

          <div class="well white" id="forms-validation-container">
            <div>
              <form class="form-floating" id="form-validation" name="sos-new-hostess">
                <fieldset>
                  <legend>Ajouter une hôtesse </legend>
                  <div class="form-group">
                    <label class="control-label">Nom</label>
                    <input type="text" id="fname" name="fname" class="form-control" required="" data-error="Nom manquant">
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Prénom(s)</label>
                    <input type="text" id="lname" name="lname" class="form-control" required="" data-error="Prénom(s) manquants">
                    <div class="help-block with-errors"></div>
                  </div>

                  <div class="form-group">
                      <label class="control-label" for="email">Email</label>
                      <input type="email" id="email" name="email" class="form-control rounded-0" required="" data-error="Adresse email incorrecte.">
                      <div class="help-block with-errors"></div>
                  </div>
                  <div class="form-group">
                      <label class="control-label" for="phone">Téléphone</label>
                      <input type="phone" id="phone" name="phone" class="form-control rounded-0" required="" data-error="Numéro de téléphone manquant.">
                      <div class="help-block with-errors"></div>
                  </div>

                  {% if "obama" == "trump" %}
                    <div class="form-group">
                      <label class="control-label normal">Hopital</label>
                      <select class="form-control rounded-0 to-select2" name="hospital" id="hospital" required="" data-error="Information manquante.">
                      <option value="">Choisir un établissement</option>
                      {% for hospital in data.hospitals %}
                        <option value="{{hospital.id}}">{{hospital.name}}</option>
                      {% endfor %}
                      </select>
                      <div class="help-block with-errors"></div>
                    </div>
                  {% endif %}


                  <div class="form-group">
                    <div class="help-block with-errors"> Un mot de passe sera généré et envoyé après la création du compte.</div>
                  </div>



                  <div class="form-group">
                    <button type="submit" id="btn_submit" class="btn btn-primary">Valider</button>
                    <button type="reset" class="btn btn-default">Réinitialiser</button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
